======================: FILES :======================
======================: BRANCHES :======================
======================: LOGINFO :======================
commit e6109a23fa70de3fd2e44d887406f4b55fc56659
Merge: 2f11570 98984ad
Author: Jonathan Dick <jondick@gmail.com>
Date:   Tue Sep 24 15:39:45 2019 -0400

    Merge branch 'master' of https://github.com/Redth/Xamarin.AppleSignIn.Sample

commit 2f1157048230bb8b3ad131f3feeb3468a2a750ef
Author: Jonathan Dick <jondick@gmail.com>
Date:   Tue Sep 24 15:39:39 2019 -0400

    Sign In Button improvements
    
    - Allow the Sign In button to still work on < iOS13 devices (uses a normal, but styled UI Button)
    - Add ButtonStyle to the Forms control
    - Set some sane defaults on the Forms control

commit 98984ad517eede5443cd5d2b457658710923824c
Merge: 0e75b3e 0fe8d6f
Author: Jonathan Dick <jondick@gmail.com>
Date:   Tue Sep 24 14:39:56 2019 -0400

    Merge pull request #1 from jridehalgh/patch-1
    
    Fix AppleSignInServiceiOS.cs link in README.md

commit 0e75b3ed59f4dcfda40bdf65e43bb570a9570832
Merge: 5278dca f0c3afe
Author: Jonathan Dick <jondick@gmail.com>
Date:   Tue Sep 24 14:38:51 2019 -0400

    Merge branch 'master' of https://github.com/Redth/Xamarin.AppleSignIn.Sample

commit 5278dcabdc4f230639465af1fd578edd80e2c985
Author: Jonathan Dick <jondick@gmail.com>
Date:   Tue Sep 24 14:38:47 2019 -0400

    Added Apple Sign In Button
    
    A custom renderer on iOS to use the actual Apple Sign In button

commit 0fe8d6f5105ef10635fbfa7a5b15bc1dabcadc7b
Author: jridehalgh <34425160+jridehalgh@users.noreply.github.com>
Date:   Thu Sep 12 11:14:55 2019 +0100

    Fix AppleSignInServiceiOS.cs link in README.md

commit f0c3afe49c25cd5309ca40d56fae723984cc3183
Author: Jonathan Dick <jondick@gmail.com>
Date:   Wed Sep 11 11:53:03 2019 -0400

    Update README.md

commit f6f2780c29ddacd25f682a3e79b4819bca1e4956
Author: Jonathan Dick <jondick@gmail.com>
Date:   Wed Sep 11 11:28:58 2019 -0400

    Native Sign In iOS13 code fixes

commit 90f58e30a970626413553b04424973ababa24391
Author: Jonathan Dick <jondick@gmail.com>
Date:   Wed Sep 11 11:28:43 2019 -0400

    iOS13 enabled code in proj settings

commit 338c14ee67979a89e409e34343f70b0ca5c49512
Author: Jonathan Dick <jondick@gmail.com>
Date:   Wed Sep 11 11:28:08 2019 -0400

    iOS13 Native API needs entitlement

commit 5d2bc99f5e77ddf73b086d440b29324c029329e1
Author: Jonathan Dick <jondick@gmail.com>
Date:   Tue Sep 10 10:55:05 2019 -0400

    Initial commit

commit c04fa95583f91a662ac8a999bcb0e805efa50ae6
Author: Jonathan Dick <jondick@gmail.com>
Date:   Tue Sep 10 09:41:41 2019 -0400

    Initial commit
======================: FILES :======================
======================: BRANCHES :======================
======================: LOGINFO :======================
commit e6109a23fa70de3fd2e44d887406f4b55fc56659
Merge: 2f11570 98984ad
Author: Jonathan Dick <jondick@gmail.com>
Date:   Tue Sep 24 15:39:45 2019 -0400

    Merge branch 'master' of https://github.com/Redth/Xamarin.AppleSignIn.Sample

commit 2f1157048230bb8b3ad131f3feeb3468a2a750ef
Author: Jonathan Dick <jondick@gmail.com>
Date:   Tue Sep 24 15:39:39 2019 -0400

    Sign In Button improvements
    
    - Allow the Sign In button to still work on < iOS13 devices (uses a normal, but styled UI Button)
    - Add ButtonStyle to the Forms control
    - Set some sane defaults on the Forms control

commit 98984ad517eede5443cd5d2b457658710923824c
Merge: 0e75b3e 0fe8d6f
Author: Jonathan Dick <jondick@gmail.com>
Date:   Tue Sep 24 14:39:56 2019 -0400

    Merge pull request #1 from jridehalgh/patch-1
    
    Fix AppleSignInServiceiOS.cs link in README.md

commit 0e75b3ed59f4dcfda40bdf65e43bb570a9570832
Merge: 5278dca f0c3afe
Author: Jonathan Dick <jondick@gmail.com>
Date:   Tue Sep 24 14:38:51 2019 -0400

    Merge branch 'master' of https://github.com/Redth/Xamarin.AppleSignIn.Sample

commit 5278dcabdc4f230639465af1fd578edd80e2c985
Author: Jonathan Dick <jondick@gmail.com>
Date:   Tue Sep 24 14:38:47 2019 -0400

    Added Apple Sign In Button
    
    A custom renderer on iOS to use the actual Apple Sign In button

commit 0fe8d6f5105ef10635fbfa7a5b15bc1dabcadc7b
Author: jridehalgh <34425160+jridehalgh@users.noreply.github.com>
Date:   Thu Sep 12 11:14:55 2019 +0100

    Fix AppleSignInServiceiOS.cs link in README.md

commit f0c3afe49c25cd5309ca40d56fae723984cc3183
Author: Jonathan Dick <jondick@gmail.com>
Date:   Wed Sep 11 11:53:03 2019 -0400

    Update README.md

commit f6f2780c29ddacd25f682a3e79b4819bca1e4956
Author: Jonathan Dick <jondick@gmail.com>
Date:   Wed Sep 11 11:28:58 2019 -0400

    Native Sign In iOS13 code fixes

commit 90f58e30a970626413553b04424973ababa24391
Author: Jonathan Dick <jondick@gmail.com>
Date:   Wed Sep 11 11:28:43 2019 -0400

    iOS13 enabled code in proj settings

commit 338c14ee67979a89e409e34343f70b0ca5c49512
Author: Jonathan Dick <jondick@gmail.com>
Date:   Wed Sep 11 11:28:08 2019 -0400

    iOS13 Native API needs entitlement

commit 5d2bc99f5e77ddf73b086d440b29324c029329e1
Author: Jonathan Dick <jondick@gmail.com>
Date:   Tue Sep 10 10:55:05 2019 -0400

    Initial commit

commit c04fa95583f91a662ac8a999bcb0e805efa50ae6
Author: Jonathan Dick <jondick@gmail.com>
Date:   Tue Sep 10 09:41:41 2019 -0400

    Initial commit
