======================: FILES :======================
======================: BRANCHES :======================
======================: LOGINFO :======================
commit ad65c88ab32f7b36054634c157ebba254942c199
Author: Suat KÖSE <suadev@gmail.com>
Date:   Thu May 14 10:21:34 2020 +0300

    - upgraded to dotnet core 3.1
    - some eventflow package versions are fixed.

commit 06ddc605904719da729119721fdb83443ecac837
Author: Oktay Kır, PhD <beyazkir@hotmail.com>
Date:   Wed May 13 17:04:56 2020 +0300

    Update README.md

commit 8e87c1acfbf76b597f6f87591e8b21685c3b0992
Author: Oktay Kır, PhD <beyazkir@hotmail.com>
Date:   Fri May 8 12:01:33 2020 +0300

    Update README.md

commit 1b339a17fadc2da27fa9c53995146c6a1115789f
Author: Oktay Kır, PhD <beyazkir@hotmail.com>
Date:   Fri May 8 11:57:08 2020 +0300

    Update README.md

commit 94297936e62f474fde1d5638e4fbc134968f2333
Author: Oktay Kır, PhD <beyazkir@hotmail.com>
Date:   Fri May 8 11:08:01 2020 +0300

    Update README.md

commit d0d435a1c7093bf696f4324da1f8a3d9b919fab6
Author: Oktay Kır, PhD <beyazkir@hotmail.com>
Date:   Mon May 4 16:20:34 2020 +0300

    Update README.md

commit 9e3857b701ada3ea8b1e5913f1300f9e6ac843bf
Author: Oktay Kır, PhD <beyazkir@hotmail.com>
Date:   Mon May 4 16:19:48 2020 +0300

    Update README.md

commit dacb10201f2c3757fdf56171374ab93f203ac38e
Author: Oktay Kır , PhD <beyazkir@hotmail.com>
Date:   Fri Apr 24 13:03:27 2020 +0300

    Update README.md

commit b7cf42d7e620446e44824b389b04f5036fc5226d
Author: Oktay Kır , PhD <beyazkir@hotmail.com>
Date:   Wed Apr 22 18:41:44 2020 +0300

    Update README.md

commit b3ca62f21e3b20c7f75cb4aec1792a07d65eb2bb
Author: Oktay Kır , PhD <beyazkir@hotmail.com>
Date:   Sat Apr 18 10:38:03 2020 +0300

    Update LICENSE

commit fb60804361722858056417256ffaeee0c293923a
Author: Oktay Kır , PhD <beyazkir@hotmail.com>
Date:   Sun Mar 22 17:42:08 2020 +0300

    Update README.md

commit 004a8e010e8d3f155ee0adf06184c7a3a8419674
Author: Oktay Kır , PhD <beyazkir@hotmail.com>
Date:   Sun Mar 22 17:41:09 2020 +0300

    Create dotnetcore.yml

commit 4b30c447c4ca338980a41f6f6c5b53be9068d2b2
Author: Oktay Kır , PhD <beyazkir@hotmail.com>
Date:   Sun Feb 16 21:56:17 2020 +0300

    Set theme jekyll-theme-slate

commit ec7557a20aededc8c493eddbf3a1eea9a8f6e933
Author: Oktay Kır , PhD <beyazkir@hotmail.com>
Date:   Fri Feb 14 14:06:54 2020 +0300

    Update README.md

commit 7916d29ea322006aff756503f93374b8ba60cc1f
Merge: 179af6b 444337b
Author: OKTAYKIR <beyazkir@hotmail.com>
Date:   Fri Feb 14 13:55:44 2020 +0300

    Merge remote-tracking branch 'origin/master'

commit 179af6baee21554c95b1b8942ae4ae07e3abfee6
Author: OKTAYKIR <beyazkir@hotmail.com>
Date:   Fri Feb 14 13:55:10 2020 +0300

    Event-sourcing/CQRS architecture diagram added.

commit 444337b0632a71b7060644c3a0a1d6136ea54e58
Author: Oktay Kır , PhD <beyazkir@hotmail.com>
Date:   Tue Feb 11 23:31:57 2020 +0300

    Update README.md

commit b7dce73822c3cee0182e5273eb5a95e8e47c004f
Author: Oktay Kır , PhD <beyazkir@hotmail.com>
Date:   Thu Feb 6 23:36:42 2020 +0300

    Update README.md

commit 465446f58fe1d6be9e335432ea45dfbedda8673e
Author: OKTAYKIR <beyazkir@hotmail.com>
Date:   Wed Feb 5 01:22:09 2020 +0300

    Minor refactorings.

commit 46a01fac00da8821ea480d0343c858464139211d
Author: Oktay Kır , PhD <beyazkir@hotmail.com>
Date:   Mon Feb 3 21:40:30 2020 +0300

    Update README.md

commit 24da3b544cdf05def898de22fd47b505e82130e6
Author: Oktay Kır , PhD <beyazkir@hotmail.com>
Date:   Mon Feb 3 21:39:03 2020 +0300

    Update README.md

commit e357c80b94ae7f5eece88884e02f4b803e97e95e
Author: Oktay Kır , PhD <beyazkir@hotmail.com>
Date:   Mon Feb 3 20:23:34 2020 +0300

    Update README.md

commit 0383f3dd754283ec3d1ab7bc821cbd448eeec7e3
Author: Oktay Kır <beyazkir@hotmail.com>
Date:   Mon Jan 13 16:36:56 2020 +0300

    JobScheduler example created.

commit 9f0d9a50652edc38cadd550210cacc1219b04956
Author: Oktay Kır <beyazkir@hotmail.com>
Date:   Thu Nov 28 19:46:18 2019 +0300

    CommandReturnResult added.

commit 2060761207a66a5ebeb9d8ec0ca7c6f67cd368e8
Merge: 5b87f5c d176d67
Author: Oktay Kır <beyazkir@hotmail.com>
Date:   Thu Nov 28 10:43:28 2019 +0300

    Merge pull request #3 from OKTAYKIR/feature/sagas
    
    Sagas example added.

commit d176d67cc2d9267d0c3189ac619848cd144955ac
Author: Oktay Kır <beyazkir@hotmail.com>
Date:   Thu Nov 28 10:42:49 2019 +0300

    Sagas example added.
    
    Reset event added.

commit 5b87f5c3dda08b816ce1d9d339e5f26e6b5ba860
Author: Oktay Kır <beyazkir@hotmail.com>
Date:   Wed Nov 27 11:38:39 2019 +0300

    Bug-fix.

commit 442e365fafbca730726ed32c2773e3fa40a05819
Merge: 5516fef 83a503b
Author: Oktay Kır <beyazkir@hotmail.com>
Date:   Wed Nov 27 11:34:04 2019 +0300

    Merge pull request #2 from OKTAYKIR/feature/command-decorater
    
    Command bus decorater added. Minor refactorings.

commit 83a503b5ef0e9dfb64847496de7ee28e0f8cfb97
Author: Oktay Kır <beyazkir@hotmail.com>
Date:   Wed Nov 27 11:33:22 2019 +0300

    Command bus decorater added. Minor refactorings.

commit 5516fef0a3c3703acfffef15e685be3c176f1bf2
Merge: a5bc8a7 aaa8575
Author: Oktay Kır <beyazkir@hotmail.com>
Date:   Mon Nov 25 13:53:17 2019 +0300

    Merge pull request #1 from OKTAYKIR/feature/snapshot-mongodb
    
    Mongodb snapshot store added.

commit aaa85758cdde384405e0435eb44fac911e29bd93
Author: Oktay Kır <beyazkir@hotmail.com>
Date:   Mon Nov 25 13:51:55 2019 +0300

    Mongodb snapshot store added.

commit a5bc8a7694a1ef71dc87c131f477e120e6712bc1
Author: Oktay Kır <beyazkir@hotmail.com>
Date:   Wed Nov 20 19:44:16 2019 +0300

    Initial commit.

commit a6d13c2cad99268da46f551c8e8ab004b027b1e6
Author: Oktay Kır <beyazkir@hotmail.com>
Date:   Wed Nov 20 19:21:58 2019 +0300

    Initial commit
======================: FILES :======================
======================: BRANCHES :======================
======================: LOGINFO :======================
commit ad65c88ab32f7b36054634c157ebba254942c199
Author: Suat KÖSE <suadev@gmail.com>
Date:   Thu May 14 10:21:34 2020 +0300

    - upgraded to dotnet core 3.1
    - some eventflow package versions are fixed.

commit 06ddc605904719da729119721fdb83443ecac837
Author: Oktay Kır, PhD <beyazkir@hotmail.com>
Date:   Wed May 13 17:04:56 2020 +0300

    Update README.md

commit 8e87c1acfbf76b597f6f87591e8b21685c3b0992
Author: Oktay Kır, PhD <beyazkir@hotmail.com>
Date:   Fri May 8 12:01:33 2020 +0300

    Update README.md

commit 1b339a17fadc2da27fa9c53995146c6a1115789f
Author: Oktay Kır, PhD <beyazkir@hotmail.com>
Date:   Fri May 8 11:57:08 2020 +0300

    Update README.md

commit 94297936e62f474fde1d5638e4fbc134968f2333
Author: Oktay Kır, PhD <beyazkir@hotmail.com>
Date:   Fri May 8 11:08:01 2020 +0300

    Update README.md

commit d0d435a1c7093bf696f4324da1f8a3d9b919fab6
Author: Oktay Kır, PhD <beyazkir@hotmail.com>
Date:   Mon May 4 16:20:34 2020 +0300

    Update README.md

commit 9e3857b701ada3ea8b1e5913f1300f9e6ac843bf
Author: Oktay Kır, PhD <beyazkir@hotmail.com>
Date:   Mon May 4 16:19:48 2020 +0300

    Update README.md

commit dacb10201f2c3757fdf56171374ab93f203ac38e
Author: Oktay Kır , PhD <beyazkir@hotmail.com>
Date:   Fri Apr 24 13:03:27 2020 +0300

    Update README.md

commit b7cf42d7e620446e44824b389b04f5036fc5226d
Author: Oktay Kır , PhD <beyazkir@hotmail.com>
Date:   Wed Apr 22 18:41:44 2020 +0300

    Update README.md

commit b3ca62f21e3b20c7f75cb4aec1792a07d65eb2bb
Author: Oktay Kır , PhD <beyazkir@hotmail.com>
Date:   Sat Apr 18 10:38:03 2020 +0300

    Update LICENSE

commit fb60804361722858056417256ffaeee0c293923a
Author: Oktay Kır , PhD <beyazkir@hotmail.com>
Date:   Sun Mar 22 17:42:08 2020 +0300

    Update README.md

commit 004a8e010e8d3f155ee0adf06184c7a3a8419674
Author: Oktay Kır , PhD <beyazkir@hotmail.com>
Date:   Sun Mar 22 17:41:09 2020 +0300

    Create dotnetcore.yml

commit 4b30c447c4ca338980a41f6f6c5b53be9068d2b2
Author: Oktay Kır , PhD <beyazkir@hotmail.com>
Date:   Sun Feb 16 21:56:17 2020 +0300

    Set theme jekyll-theme-slate

commit ec7557a20aededc8c493eddbf3a1eea9a8f6e933
Author: Oktay Kır , PhD <beyazkir@hotmail.com>
Date:   Fri Feb 14 14:06:54 2020 +0300

    Update README.md

commit 7916d29ea322006aff756503f93374b8ba60cc1f
Merge: 179af6b 444337b
Author: OKTAYKIR <beyazkir@hotmail.com>
Date:   Fri Feb 14 13:55:44 2020 +0300

    Merge remote-tracking branch 'origin/master'

commit 179af6baee21554c95b1b8942ae4ae07e3abfee6
Author: OKTAYKIR <beyazkir@hotmail.com>
Date:   Fri Feb 14 13:55:10 2020 +0300

    Event-sourcing/CQRS architecture diagram added.

commit 444337b0632a71b7060644c3a0a1d6136ea54e58
Author: Oktay Kır , PhD <beyazkir@hotmail.com>
Date:   Tue Feb 11 23:31:57 2020 +0300

    Update README.md

commit b7dce73822c3cee0182e5273eb5a95e8e47c004f
Author: Oktay Kır , PhD <beyazkir@hotmail.com>
Date:   Thu Feb 6 23:36:42 2020 +0300

    Update README.md

commit 465446f58fe1d6be9e335432ea45dfbedda8673e
Author: OKTAYKIR <beyazkir@hotmail.com>
Date:   Wed Feb 5 01:22:09 2020 +0300

    Minor refactorings.

commit 46a01fac00da8821ea480d0343c858464139211d
Author: Oktay Kır , PhD <beyazkir@hotmail.com>
Date:   Mon Feb 3 21:40:30 2020 +0300

    Update README.md

commit 24da3b544cdf05def898de22fd47b505e82130e6
Author: Oktay Kır , PhD <beyazkir@hotmail.com>
Date:   Mon Feb 3 21:39:03 2020 +0300

    Update README.md

commit e357c80b94ae7f5eece88884e02f4b803e97e95e
Author: Oktay Kır , PhD <beyazkir@hotmail.com>
Date:   Mon Feb 3 20:23:34 2020 +0300

    Update README.md

commit 0383f3dd754283ec3d1ab7bc821cbd448eeec7e3
Author: Oktay Kır <beyazkir@hotmail.com>
Date:   Mon Jan 13 16:36:56 2020 +0300

    JobScheduler example created.

commit 9f0d9a50652edc38cadd550210cacc1219b04956
Author: Oktay Kır <beyazkir@hotmail.com>
Date:   Thu Nov 28 19:46:18 2019 +0300

    CommandReturnResult added.

commit 2060761207a66a5ebeb9d8ec0ca7c6f67cd368e8
Merge: 5b87f5c d176d67
Author: Oktay Kır <beyazkir@hotmail.com>
Date:   Thu Nov 28 10:43:28 2019 +0300

    Merge pull request #3 from OKTAYKIR/feature/sagas
    
    Sagas example added.

commit d176d67cc2d9267d0c3189ac619848cd144955ac
Author: Oktay Kır <beyazkir@hotmail.com>
Date:   Thu Nov 28 10:42:49 2019 +0300

    Sagas example added.
    
    Reset event added.

commit 5b87f5c3dda08b816ce1d9d339e5f26e6b5ba860
Author: Oktay Kır <beyazkir@hotmail.com>
Date:   Wed Nov 27 11:38:39 2019 +0300

    Bug-fix.

commit 442e365fafbca730726ed32c2773e3fa40a05819
Merge: 5516fef 83a503b
Author: Oktay Kır <beyazkir@hotmail.com>
Date:   Wed Nov 27 11:34:04 2019 +0300

    Merge pull request #2 from OKTAYKIR/feature/command-decorater
    
    Command bus decorater added. Minor refactorings.

commit 83a503b5ef0e9dfb64847496de7ee28e0f8cfb97
Author: Oktay Kır <beyazkir@hotmail.com>
Date:   Wed Nov 27 11:33:22 2019 +0300

    Command bus decorater added. Minor refactorings.

commit 5516fef0a3c3703acfffef15e685be3c176f1bf2
Merge: a5bc8a7 aaa8575
Author: Oktay Kır <beyazkir@hotmail.com>
Date:   Mon Nov 25 13:53:17 2019 +0300

    Merge pull request #1 from OKTAYKIR/feature/snapshot-mongodb
    
    Mongodb snapshot store added.

commit aaa85758cdde384405e0435eb44fac911e29bd93
Author: Oktay Kır <beyazkir@hotmail.com>
Date:   Mon Nov 25 13:51:55 2019 +0300

    Mongodb snapshot store added.

commit a5bc8a7694a1ef71dc87c131f477e120e6712bc1
Author: Oktay Kır <beyazkir@hotmail.com>
Date:   Wed Nov 20 19:44:16 2019 +0300

    Initial commit.

commit a6d13c2cad99268da46f551c8e8ab004b027b1e6
Author: Oktay Kır <beyazkir@hotmail.com>
Date:   Wed Nov 20 19:21:58 2019 +0300

    Initial commit
