======================: FILES :======================
======================: BRANCHES :======================
======================: LOGINFO :======================
commit 582df030974a977c16def81acd85952f3af76e2c
Author: Anuradha Weeraman <aweeraman@gmail.com>
Date:   Sun Jun 13 20:07:34 2021 +0530

    Gnome configuration

commit 76e95837b8b8fd1197caf12a7e37c88ebbac4faf
Author: Anuradha Weeraman <aweeraman@gmail.com>
Date:   Sat Apr 17 19:47:03 2021 +0530

    Fixed directory existence check

commit be5a0a1f2a0723ed21268e2707a90955fb253dd0
Author: Anuradha Weeraman <aweeraman@gmail.com>
Date:   Sun Jul 19 20:31:10 2020 -0400

    zathura and ranger

commit ba7fd3b0aa7c368456c70a992b1b14d497617d8c
Author: Anuradha Weeraman <aweeraman@gmail.com>
Date:   Sat Jul 11 19:57:26 2020 -0400

    Tweaked transition delays

commit 26a9adf942bd1dff28f89f54a5d0a0d720a27c5f
Author: Anuradha Weeraman <aweeraman@gmail.com>
Date:   Sat Jul 11 17:57:27 2020 -0400

    Added slock

commit b494ac32c659a6da8fcf83af1cf651b1b8b02c48
Author: Anuradha Weeraman <aweeraman@gmail.com>
Date:   Sat Jul 11 17:27:11 2020 -0400

    Replaced xsetbg with feh as it doesn't play well with xcompmgr

commit e76b0f69f8ded0b13c541bb86bbd0cfb05b80869
Author: Anuradha Weeraman <aweeraman@gmail.com>
Date:   Sat Jul 11 17:26:41 2020 -0400

    Added xcompmgr and feh dependencies

commit bf2b41fcf179729288f9b385dad85652cc0a8cc0
Author: Anuradha Weeraman <aweeraman@gmail.com>
Date:   Fri Jul 10 21:14:29 2020 -0400

    Redshift

commit ab4bbf993411f66933bfa75469d8196f214652d9
Author: Anuradha Weeraman <aweeraman@gmail.com>
Date:   Fri Jul 10 21:05:25 2020 -0400

    Added mononoki dependency

commit 8b8992bb8a32502cb492afd5e70f56d26db0d351
Author: Anuradha Weeraman <aweeraman@gmail.com>
Date:   Sun Jul 5 00:42:31 2020 -0400

    Cleaned up

commit 598a464ca7d30cdbbe6244660f94c27dc78a15ab
Author: Anuradha Weeraman <aweeraman@gmail.com>
Date:   Sat Jul 4 00:07:53 2020 -0400

    Integrated slstatus

commit e37a0babfd344ce7907676053fe7a5f6df0b8ab0
Author: Anuradha Weeraman <aweeraman@gmail.com>
Date:   Sat Jun 27 13:29:59 2020 -0400

    Display date/time on the top bar

commit ae2e85d8853c0905dc4b3d4cf21501b0d9782b4b
Author: Anuradha Weeraman <aweeraman@gmail.com>
Date:   Sat Jun 27 11:35:40 2020 -0400

    Set background

commit 152bfea6841d5be8c90c42d92363909e3f87bb89
Author: Anuradha Weeraman <aweeraman@gmail.com>
Date:   Fri Jun 26 22:56:23 2020 -0400

    Added redshift

commit dd94a4a3538b1895598541fac846e5daae25b57a
Author: Anuradha Weeraman <aweeraman@gmail.com>
Date:   Fri Jun 26 22:10:54 2020 -0400

    Display configuration

commit e36e826d474b6cbb11b88846a2ba7a585a2bef1b
Author: Anuradha Weeraman <aweeraman@gmail.com>
Date:   Fri Jun 26 22:03:28 2020 -0400

    Xrandr settings

commit 9faf132a47708e654d39ca899dcecfcd127b5314
Author: Anuradha Weeraman <aweeraman@gmail.com>
Date:   Fri Jun 26 21:04:05 2020 -0400

    Added dmenu and st

commit 3a40189abccd13d15800b9f7945ca17e09d802a3
Author: Anuradha Weeraman <aweeraman@gmail.com>
Date:   Fri Jun 26 19:28:21 2020 -0400

    Initial commit
