======================: FILES :======================
======================: BRANCHES :======================
======================: LOGINFO :======================
commit ede75331387d321d4eec779a53587aded19b8731
Author: Ahmed Khaled <ahmedkhaledabab@gmail.com>
Date:   Thu Sep 10 17:50:10 2020 +0200

    cg method

commit 7710d40aa54f3841718dc4a039bd43cddc500567
Author: Ahmed Khaled <ahmedkhaledabab@gmail.com>
Date:   Thu Sep 10 17:31:34 2020 +0200

    imported filepath

commit 2829057cf7b98d84c861cdae19a172bb203d5b0f
Author: Ahmed Khaled <ahmedkhaledabab@gmail.com>
Date:   Thu Sep 10 17:25:47 2020 +0200

    must method

commit e1a9e5a554657b5fedd9b0a56f7e21cda94736ed
Author: Ahmed Khaled <ahmedkhaledabab@gmail.com>
Date:   Thu Sep 10 17:19:21 2020 +0200

    readme

commit f8ac4b56c816a84753b75df9c01b40dc0b600cb1
Author: Ahmed Khaled <ahmedkhaledabab@gmail.com>
Date:   Thu Sep 10 16:56:58 2020 +0200

    unmounting

commit 522f9991f7ecd875d4153bcde3e0bb8ad1070d2b
Author: Ahmed Khaled <ahmedkhaledabab@gmail.com>
Date:   Thu Sep 10 16:27:19 2020 +0200

    Unshareflags

commit f2713114503dd3a1d99d6f6120f6f3fadf773bfb
Author: Ahmed Khaled <ahmedkhaledabab@gmail.com>
Date:   Thu Sep 10 16:21:24 2020 +0200

    method child

commit fc6f0d34579a48feb3eb6942213210753f17864d
Author: Ahmed Khaled <ahmedkhaledabab@gmail.com>
Date:   Thu Sep 10 16:12:24 2020 +0200

    method run

commit 8c4f3f492648499eb7787ba2096c94ae8ea222a9
Author: Ahmed Khaled <ahmedkhaledabab@gmail.com>
Date:   Thu Sep 10 16:00:36 2020 +0200

    added skeleton code

commit 93f523ef215c36594f7ec16ae55ccb94abd15d77
Author: Ahmed Khaled <ahmedkhaledabab@gmail.com>
Date:   Thu Sep 10 15:58:02 2020 +0200

    added skeleton code

commit 673fad6165741d3cf24d3f325cbd584ff150bdf9
Author: Ahmed Khaled <ahmedkhaledabab@gmail.com>
Date:   Thu Sep 10 15:54:28 2020 +0200

    first commit
======================: FILES :======================
======================: BRANCHES :======================
======================: LOGINFO :======================
commit ede75331387d321d4eec779a53587aded19b8731
Author: Ahmed Khaled <ahmedkhaledabab@gmail.com>
Date:   Thu Sep 10 17:50:10 2020 +0200

    cg method

commit 7710d40aa54f3841718dc4a039bd43cddc500567
Author: Ahmed Khaled <ahmedkhaledabab@gmail.com>
Date:   Thu Sep 10 17:31:34 2020 +0200

    imported filepath

commit 2829057cf7b98d84c861cdae19a172bb203d5b0f
Author: Ahmed Khaled <ahmedkhaledabab@gmail.com>
Date:   Thu Sep 10 17:25:47 2020 +0200

    must method

commit e1a9e5a554657b5fedd9b0a56f7e21cda94736ed
Author: Ahmed Khaled <ahmedkhaledabab@gmail.com>
Date:   Thu Sep 10 17:19:21 2020 +0200

    readme

commit f8ac4b56c816a84753b75df9c01b40dc0b600cb1
Author: Ahmed Khaled <ahmedkhaledabab@gmail.com>
Date:   Thu Sep 10 16:56:58 2020 +0200

    unmounting

commit 522f9991f7ecd875d4153bcde3e0bb8ad1070d2b
Author: Ahmed Khaled <ahmedkhaledabab@gmail.com>
Date:   Thu Sep 10 16:27:19 2020 +0200

    Unshareflags

commit f2713114503dd3a1d99d6f6120f6f3fadf773bfb
Author: Ahmed Khaled <ahmedkhaledabab@gmail.com>
Date:   Thu Sep 10 16:21:24 2020 +0200

    method child

commit fc6f0d34579a48feb3eb6942213210753f17864d
Author: Ahmed Khaled <ahmedkhaledabab@gmail.com>
Date:   Thu Sep 10 16:12:24 2020 +0200

    method run

commit 8c4f3f492648499eb7787ba2096c94ae8ea222a9
Author: Ahmed Khaled <ahmedkhaledabab@gmail.com>
Date:   Thu Sep 10 16:00:36 2020 +0200

    added skeleton code

commit 93f523ef215c36594f7ec16ae55ccb94abd15d77
Author: Ahmed Khaled <ahmedkhaledabab@gmail.com>
Date:   Thu Sep 10 15:58:02 2020 +0200

    added skeleton code

commit 673fad6165741d3cf24d3f325cbd584ff150bdf9
Author: Ahmed Khaled <ahmedkhaledabab@gmail.com>
Date:   Thu Sep 10 15:54:28 2020 +0200

    first commit
