<!DOCTYPE html>
<html>
<head style="background-color:#666;">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> G I T D A T A </title>
</head>
<body style="background-color:#777;">

<!-- User list -->
<ul> 
	{% for name in names %}
		<ol> 
			<!-- <img src="/i/avatar_{{name}}.png" width="3%" height="3%">  -->
			<img src="/i/blank.png" width="3%" height="3%"> 
			{{name}} 
			<a href="/u/{{name}}">
		</ol>
	{% endfor %}
</ul>




</body>
</html>