======================: FILES :======================
======================: BRANCHES :======================
======================: LOGINFO :======================
commit 47d404f823c5ca59ec7ac27aa066b8d8dbcfb957
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sun Nov 21 10:01:26 2021 -0800

    bad bots

commit 04cdd6f6fc3840b81daad49c977c9618ff5fd36a
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Nov 18 01:41:48 2021 -0800

    Revert "nginx: double rate limit"
    
    This reverts commit 305f6def86c6dc2c57b326d4ea129b700308c3a3.

commit 849713dc6d556af0dbbcd8592ce341eabff96012
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Nov 18 01:41:40 2021 -0800

    Revert "nginx: 10x rate limit"
    
    This reverts commit b46c54f31340db1d08bf809e1e100ff0977e02c1.

commit b46c54f31340db1d08bf809e1e100ff0977e02c1
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Nov 18 01:37:43 2021 -0800

    nginx: 10x rate limit

commit 305f6def86c6dc2c57b326d4ea129b700308c3a3
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Nov 18 01:23:35 2021 -0800

    nginx: double rate limit

commit a604cac2da2eadbbb6853695190883e4d0d057cb
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri May 14 19:26:07 2021 -0700

    block semrush (doesn't obey crawl-delay, still visits every 10s)

commit 69f3a3191a29200169004be0f0e10ff251756eea
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu May 6 15:23:14 2021 -0700

    Update _bad.include

commit b611f6c5696f15559c13808a44190193034a57d5
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sat Jul 4 10:16:03 2020 -0700

    mysqltuner: double certain buffers in response to recommendation

commit 6351152a04a359f9d0cac4a3531727d9605600f6
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Jun 4 13:51:25 2020 -0700

    re-enable limits

commit 79a41ac1528f8984531fe45e6468fbc24d97ee2d
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Jun 4 11:41:05 2020 -0700

    disable rate limit

commit 7678db9e05c9dc60bba9f72f7a5cb4cbafef4313
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Jun 4 10:25:04 2020 -0700

    increase rate limit

commit 85649370f1f5662d00a3d8013fcf4894cd823747
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Wed Jun 3 15:34:06 2020 -0700

    increase rate limit

commit 1509ce7ec567f0595cb9f883849979abf679d13d
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Wed Jun 3 14:28:24 2020 -0700

    nginx: rate 10

commit 0e4af97da2b0f12efc60fa2b92076f625d98faca
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Wed Jun 3 14:28:14 2020 -0700

    nginx: burst 1000

commit b25918209d86bd83c14d757f8f8d25380acd986f
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Mon Mar 30 14:26:44 2020 -0700

    mysql: double server size

commit c818a32b6e998c406bfb2a599a788bdd0acf83c2
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Wed Mar 25 19:23:21 2020 -0700

    add supervisor config

commit ee3a02086b93feb84868342ecfe1068c29fbcc5e
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Mon Dec 16 21:58:58 2019 -0800

    certbot: stop/start coturn server

commit 9da4b1f1d7f68c5c4fde5ba300689ec3960ca985
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sat Oct 26 15:43:27 2019 -0700

    nginx: decrease rate

commit 537d8e12eb99516c8377e110de4916b0ffbf233b
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sat Oct 26 14:46:51 2019 -0700

    block wget

commit 415c04b086471276516012e82ed24769035961cf
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Wed Oct 23 22:19:34 2019 -0700

    serve snake oil cert from second webtorrent ip

commit 0aff23927ca324463e18da6a8208ce05ec5ef6bc
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Wed Oct 23 19:53:50 2019 -0700

    Set the HTTP protocol version for proxying to 1.1

commit 15ecc04dfe1f34e0269142f4881b94060ae4ce10
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Wed Oct 23 11:25:20 2019 -0700

    update cat url

commit 33871480a087ebb267c2f64812fab6e99b61c565
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sat Sep 7 15:35:15 2019 -0700

    block bad bot

commit 05998fd1a345b3c51e3921d53a193d82f10e8888
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sat Sep 7 15:31:30 2019 -0700

    block bad bots

commit 63de5af20e6cf201845dac5d7aed4b3a860f470f
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sat Sep 7 15:24:30 2019 -0700

    block bot: seekport

commit 615a702348465e2fe62cd942b8dea9429765e563
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sun Aug 11 13:54:36 2019 -0700

    nginx: allow higher ip_limit burst

commit b9cbb0aaea0f5ead6051a56e8a4b3b00990039c3
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Mon Jul 1 12:51:16 2019 -0700

    nginx: disable ssl stapling for snakeoil cert

commit 512be49325df0a3e18a5fef8cd8d34d29cfce982
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Mon Jul 1 12:47:41 2019 -0700

    nginx: add dhparam.pem

commit 887c28de9b85b66f90aa96834f8729de4dcaafc0
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Mon Jul 1 12:46:36 2019 -0700

    nginx: update ciphers for latest Mozilla SSL config tool

commit c256bf53df2464df5c6862e4d0cc68ec6e26efef
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Mon Jul 1 12:46:19 2019 -0700

    nginx: ssl_session_timeout 1d

commit f9737299c0f25db3ef428790c17a22d611f01de0
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Mon Jul 1 12:45:59 2019 -0700

    nginx: move ssl stapling config to main nginx config

commit 45f8eb636ee6e324f0feb4e93b1a5999281775d0
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sat Jun 29 16:44:27 2019 -0700

    mysql: use proper utf8 by default

commit 6bdb91ab58369c80dffa1c2a9af52e4d668d915e
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sat Jun 29 14:09:19 2019 -0700

    serve 500.html from main server config

commit ecc31af6ccfe66679a1b4883ca7a97de1102339c
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Jun 28 22:15:51 2019 -0700

    nginx: double burst size

commit a204616323a9d5fc8ea83adeacf7eda17bd61ce8
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Jun 28 19:24:41 2019 -0700

    allower larger burst

commit b1a1ea8b4a2036cc262fd8bcf8f5f2d3adc6c7f3
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Jun 28 19:22:47 2019 -0700

    get rid of dynamic limit

commit 1531998d704b8d9d0aaa8634fde22b8333303065
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Jun 28 19:14:14 2019 -0700

    attempt to fix rate limiting

commit 1aadfc47219cc52d09ddc9612c2cfa32f4a850a8
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Jun 28 19:03:27 2019 -0700

    separate static vs. dynamic IP limits

commit e2d22f92655b87a1a62d32a96938eeb4b32ef4d4
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Jun 28 18:53:18 2019 -0700

    add 503 error page

commit af8f9b246d3e7800afdf74480134cb6a15261b36
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Jun 28 18:37:26 2019 -0700

    add IP address rate limiting

commit 2a6d90e2e2b0bc86dca530930647114b1bd16481
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Jun 28 18:03:49 2019 -0700

    move ssl config into _server.include file

commit 7477294edcf129999cc8c696caebee2bb6b56145
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Jun 28 18:00:16 2019 -0700

    Update EXAMPLE.conf

commit 9aa2788047af397f7343a65c9e16f78f2994fded
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Jun 28 17:57:02 2019 -0700

    pull out common server configs to separate files

commit 57d76886b91f22634e7de35f95ac7890222d6e5b
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Jun 28 17:54:38 2019 -0700

    move bad file

commit ff2099e3d7b77070369867bafdb9b7220557333b
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Jun 28 17:53:11 2019 -0700

    move mime includes

commit 40ee9400cd63ae0e4d1b48e0afa69c5f6f1fb133
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Jun 28 17:47:30 2019 -0700

    improve EXAMPLE.conf

commit a7d2c8c28b33990d8cb2637e9ff1cdb54a353d40
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Jun 27 16:19:13 2019 -0700

    block sitesucker

commit 008a9a9706c2355d8859a4993fdd0c9f5c93378a
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Jun 27 16:10:44 2019 -0700

    add bad user agent map to nginx config

commit e88d039b26e23120ebb0cd10c2fab41ac99b5ceb
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Jun 27 16:06:01 2019 -0700

    Create bad-useragent.conf

commit e829c6a32ee16e147a352d9027f5406b6ad850e8
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sat Jun 22 17:38:59 2019 -0700

    SITE_DOMAIN -> example.com

commit 9ec8f1ec9b4f2270995016181a7050145c71056a
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sat Jun 22 17:38:50 2019 -0700

    add note to empty gitignore

commit 55d1dc6004f5d9555ff333e0929d0090c7b11915
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sat Jun 22 17:38:05 2019 -0700

    add placeholder nginx/conf.d folder

commit e25fec488694f5bac91e127e039e4a589745abf3
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sat Jun 22 17:34:48 2019 -0700

    rename certbot helper scripts

commit 89859135a3e673bae0f2e0ecb39dc6e041045fe0
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sun Jun 2 12:16:22 2019 -0700

    add mongo backup scripts

commit 0b921db09afd641b28e8214b08f2c75257ababce
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sun Jun 2 11:42:03 2019 -0700

    Make server-start and server-stop quiet

commit 680d2cfd6e09669f2d2e2341c828fc143b133b6b
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sun Jun 2 11:14:53 2019 -0700

    certbot: Fix hook path

commit 2acde8daf668d3340528e0ef11be8946f9c4e748
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sun Jun 2 11:11:54 2019 -0700

    Add certbot scripts

commit bf7db2c2606266d10b2c0a7ec02cd8bf7abe750d
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu May 30 09:05:45 2019 -0700

    mysql: update innodb_log_file_size constraint

commit 8fa2afb3587cecd4fcdcbaaf9a2e3a66b724b98b
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu May 30 09:05:39 2019 -0700

    mysql: reduce innodb_buffer_pool_instances

commit d8bf92be355f802bd70b36fc5590617decf95ae7
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu May 30 08:50:30 2019 -0700

    mysql: reduce buffer pool size

commit 69335c70d28f52614ee374e793176cf793a45abb
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu May 30 08:50:23 2019 -0700

    mysql: increase tmp_table_size

commit 12dba32f1339c5e4e9ed47fd106832c0f433197d
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Wed May 29 17:49:08 2019 -0700

    mysql: update tmp_table_size per mysqltuner rec

commit 63526c8a647a21ffdf864e6f9994253c6c7de410
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Tue May 28 16:45:03 2019 -0700

    mysql: update tmp_table_size per mysqltuner rec

commit a4c3946a4692fe604548f4bf4c5ae959dc6e62a7
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Mon May 27 22:32:11 2019 -0700

    mysql: add tmp_table_size and max_heap_table_size options

commit 2d4ca2cb17b79b890debf537e2d0ab3bdedd92a8
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sun May 26 22:28:22 2019 -0700

    Revert cipher change; use Mozilla "Modern compatibility"

commit 48cf30d7d522d16384aa0d451770d6e237f6d466
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sun May 26 22:12:05 2019 -0700

    nginx: add TLS 1.3 support
    
    The enabled TLS 1.3 version is not the latest version, so this doesn't actually enable it in modern browsers.
    
    When we update to Ubuntu 20.04 in one year, we'll get a version of nginx that supports the latest spec. That's fine.

commit b1b980c6ce5a937a9dabe78c7580afc5c954bd00
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sun May 26 22:10:33 2019 -0700

    nginx: Remove weak ciphers
    
    Drops support for these browsers according to SSL Labs:
    
    IE 11 / Win 7
    IE 11 / Win 8.1
    IE 11 / Win Phone 8.1
    IE 11 / Win Phone 8.1 Update
    Safari 6 / iOS 6.0.1
    Safari 7 / iOS 7.1
    Safari 7 / OS X 10.9
    Safari 8 / iOS 8.4
    Safari 8 / OS X 10.10
    
    Note: IE 11 on Win 10 still works.

commit 94a9720bf40dd85073d696fde4a1ee96068fc405
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sun May 26 20:55:59 2019 -0700

    use new ~/config path for server configs

commit 9723a0ba30edbcb1a500684a6abf21178ca9df0c
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sun May 26 20:49:41 2019 -0700

    Create mysql.cnf

commit 040df65333963d5e6d345f76d217afda8ad6a448
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sun May 26 20:49:08 2019 -0700

    move nginx configs into a folder

commit 1da0361e8dd715db16fab412259f8a4840960138
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Aug 31 15:17:40 2018 -0700

    Enable nginx status page (for Longview)

commit 11ee70fd80ddc1b237dbdb110241f9c9532e525c
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Aug 31 15:17:33 2018 -0700

    style

commit f49c462d1a7ec598a3507176fd5e6672323ac8e5
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Aug 30 01:48:44 2018 -0700

    add gitignore

commit d255804ec5f1f2698c794b5d7e1b28508cc6149b
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Aug 30 01:46:40 2018 -0700

    Add note about what to do with extra configs

commit 413646fba96d0e025eadc6fee7d91018cd0b3b15
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Aug 30 01:38:04 2018 -0700

    add example site configuration

commit 0bccf8f0b41a7a528ccfc61315cb8d0e6323382d
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Aug 30 01:37:49 2018 -0700

    try removing duplicate http blocks

commit 68bd98202f589ee4b5aa9dc4673c96f71476a1c1
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Aug 30 01:29:56 2018 -0700

    initial commit
======================: FILES :======================
======================: BRANCHES :======================
======================: LOGINFO :======================
commit 47d404f823c5ca59ec7ac27aa066b8d8dbcfb957
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sun Nov 21 10:01:26 2021 -0800

    bad bots

commit 04cdd6f6fc3840b81daad49c977c9618ff5fd36a
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Nov 18 01:41:48 2021 -0800

    Revert "nginx: double rate limit"
    
    This reverts commit 305f6def86c6dc2c57b326d4ea129b700308c3a3.

commit 849713dc6d556af0dbbcd8592ce341eabff96012
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Nov 18 01:41:40 2021 -0800

    Revert "nginx: 10x rate limit"
    
    This reverts commit b46c54f31340db1d08bf809e1e100ff0977e02c1.

commit b46c54f31340db1d08bf809e1e100ff0977e02c1
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Nov 18 01:37:43 2021 -0800

    nginx: 10x rate limit

commit 305f6def86c6dc2c57b326d4ea129b700308c3a3
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Nov 18 01:23:35 2021 -0800

    nginx: double rate limit

commit a604cac2da2eadbbb6853695190883e4d0d057cb
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri May 14 19:26:07 2021 -0700

    block semrush (doesn't obey crawl-delay, still visits every 10s)

commit 69f3a3191a29200169004be0f0e10ff251756eea
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu May 6 15:23:14 2021 -0700

    Update _bad.include

commit b611f6c5696f15559c13808a44190193034a57d5
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sat Jul 4 10:16:03 2020 -0700

    mysqltuner: double certain buffers in response to recommendation

commit 6351152a04a359f9d0cac4a3531727d9605600f6
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Jun 4 13:51:25 2020 -0700

    re-enable limits

commit 79a41ac1528f8984531fe45e6468fbc24d97ee2d
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Jun 4 11:41:05 2020 -0700

    disable rate limit

commit 7678db9e05c9dc60bba9f72f7a5cb4cbafef4313
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Jun 4 10:25:04 2020 -0700

    increase rate limit

commit 85649370f1f5662d00a3d8013fcf4894cd823747
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Wed Jun 3 15:34:06 2020 -0700

    increase rate limit

commit 1509ce7ec567f0595cb9f883849979abf679d13d
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Wed Jun 3 14:28:24 2020 -0700

    nginx: rate 10

commit 0e4af97da2b0f12efc60fa2b92076f625d98faca
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Wed Jun 3 14:28:14 2020 -0700

    nginx: burst 1000

commit b25918209d86bd83c14d757f8f8d25380acd986f
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Mon Mar 30 14:26:44 2020 -0700

    mysql: double server size

commit c818a32b6e998c406bfb2a599a788bdd0acf83c2
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Wed Mar 25 19:23:21 2020 -0700

    add supervisor config

commit ee3a02086b93feb84868342ecfe1068c29fbcc5e
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Mon Dec 16 21:58:58 2019 -0800

    certbot: stop/start coturn server

commit 9da4b1f1d7f68c5c4fde5ba300689ec3960ca985
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sat Oct 26 15:43:27 2019 -0700

    nginx: decrease rate

commit 537d8e12eb99516c8377e110de4916b0ffbf233b
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sat Oct 26 14:46:51 2019 -0700

    block wget

commit 415c04b086471276516012e82ed24769035961cf
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Wed Oct 23 22:19:34 2019 -0700

    serve snake oil cert from second webtorrent ip

commit 0aff23927ca324463e18da6a8208ce05ec5ef6bc
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Wed Oct 23 19:53:50 2019 -0700

    Set the HTTP protocol version for proxying to 1.1

commit 15ecc04dfe1f34e0269142f4881b94060ae4ce10
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Wed Oct 23 11:25:20 2019 -0700

    update cat url

commit 33871480a087ebb267c2f64812fab6e99b61c565
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sat Sep 7 15:35:15 2019 -0700

    block bad bot

commit 05998fd1a345b3c51e3921d53a193d82f10e8888
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sat Sep 7 15:31:30 2019 -0700

    block bad bots

commit 63de5af20e6cf201845dac5d7aed4b3a860f470f
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sat Sep 7 15:24:30 2019 -0700

    block bot: seekport

commit 615a702348465e2fe62cd942b8dea9429765e563
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sun Aug 11 13:54:36 2019 -0700

    nginx: allow higher ip_limit burst

commit b9cbb0aaea0f5ead6051a56e8a4b3b00990039c3
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Mon Jul 1 12:51:16 2019 -0700

    nginx: disable ssl stapling for snakeoil cert

commit 512be49325df0a3e18a5fef8cd8d34d29cfce982
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Mon Jul 1 12:47:41 2019 -0700

    nginx: add dhparam.pem

commit 887c28de9b85b66f90aa96834f8729de4dcaafc0
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Mon Jul 1 12:46:36 2019 -0700

    nginx: update ciphers for latest Mozilla SSL config tool

commit c256bf53df2464df5c6862e4d0cc68ec6e26efef
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Mon Jul 1 12:46:19 2019 -0700

    nginx: ssl_session_timeout 1d

commit f9737299c0f25db3ef428790c17a22d611f01de0
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Mon Jul 1 12:45:59 2019 -0700

    nginx: move ssl stapling config to main nginx config

commit 45f8eb636ee6e324f0feb4e93b1a5999281775d0
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sat Jun 29 16:44:27 2019 -0700

    mysql: use proper utf8 by default

commit 6bdb91ab58369c80dffa1c2a9af52e4d668d915e
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sat Jun 29 14:09:19 2019 -0700

    serve 500.html from main server config

commit ecc31af6ccfe66679a1b4883ca7a97de1102339c
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Jun 28 22:15:51 2019 -0700

    nginx: double burst size

commit a204616323a9d5fc8ea83adeacf7eda17bd61ce8
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Jun 28 19:24:41 2019 -0700

    allower larger burst

commit b1a1ea8b4a2036cc262fd8bcf8f5f2d3adc6c7f3
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Jun 28 19:22:47 2019 -0700

    get rid of dynamic limit

commit 1531998d704b8d9d0aaa8634fde22b8333303065
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Jun 28 19:14:14 2019 -0700

    attempt to fix rate limiting

commit 1aadfc47219cc52d09ddc9612c2cfa32f4a850a8
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Jun 28 19:03:27 2019 -0700

    separate static vs. dynamic IP limits

commit e2d22f92655b87a1a62d32a96938eeb4b32ef4d4
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Jun 28 18:53:18 2019 -0700

    add 503 error page

commit af8f9b246d3e7800afdf74480134cb6a15261b36
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Jun 28 18:37:26 2019 -0700

    add IP address rate limiting

commit 2a6d90e2e2b0bc86dca530930647114b1bd16481
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Jun 28 18:03:49 2019 -0700

    move ssl config into _server.include file

commit 7477294edcf129999cc8c696caebee2bb6b56145
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Jun 28 18:00:16 2019 -0700

    Update EXAMPLE.conf

commit 9aa2788047af397f7343a65c9e16f78f2994fded
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Jun 28 17:57:02 2019 -0700

    pull out common server configs to separate files

commit 57d76886b91f22634e7de35f95ac7890222d6e5b
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Jun 28 17:54:38 2019 -0700

    move bad file

commit ff2099e3d7b77070369867bafdb9b7220557333b
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Jun 28 17:53:11 2019 -0700

    move mime includes

commit 40ee9400cd63ae0e4d1b48e0afa69c5f6f1fb133
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Jun 28 17:47:30 2019 -0700

    improve EXAMPLE.conf

commit a7d2c8c28b33990d8cb2637e9ff1cdb54a353d40
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Jun 27 16:19:13 2019 -0700

    block sitesucker

commit 008a9a9706c2355d8859a4993fdd0c9f5c93378a
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Jun 27 16:10:44 2019 -0700

    add bad user agent map to nginx config

commit e88d039b26e23120ebb0cd10c2fab41ac99b5ceb
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Jun 27 16:06:01 2019 -0700

    Create bad-useragent.conf

commit e829c6a32ee16e147a352d9027f5406b6ad850e8
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sat Jun 22 17:38:59 2019 -0700

    SITE_DOMAIN -> example.com

commit 9ec8f1ec9b4f2270995016181a7050145c71056a
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sat Jun 22 17:38:50 2019 -0700

    add note to empty gitignore

commit 55d1dc6004f5d9555ff333e0929d0090c7b11915
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sat Jun 22 17:38:05 2019 -0700

    add placeholder nginx/conf.d folder

commit e25fec488694f5bac91e127e039e4a589745abf3
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sat Jun 22 17:34:48 2019 -0700

    rename certbot helper scripts

commit 89859135a3e673bae0f2e0ecb39dc6e041045fe0
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sun Jun 2 12:16:22 2019 -0700

    add mongo backup scripts

commit 0b921db09afd641b28e8214b08f2c75257ababce
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sun Jun 2 11:42:03 2019 -0700

    Make server-start and server-stop quiet

commit 680d2cfd6e09669f2d2e2341c828fc143b133b6b
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sun Jun 2 11:14:53 2019 -0700

    certbot: Fix hook path

commit 2acde8daf668d3340528e0ef11be8946f9c4e748
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sun Jun 2 11:11:54 2019 -0700

    Add certbot scripts

commit bf7db2c2606266d10b2c0a7ec02cd8bf7abe750d
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu May 30 09:05:45 2019 -0700

    mysql: update innodb_log_file_size constraint

commit 8fa2afb3587cecd4fcdcbaaf9a2e3a66b724b98b
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu May 30 09:05:39 2019 -0700

    mysql: reduce innodb_buffer_pool_instances

commit d8bf92be355f802bd70b36fc5590617decf95ae7
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu May 30 08:50:30 2019 -0700

    mysql: reduce buffer pool size

commit 69335c70d28f52614ee374e793176cf793a45abb
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu May 30 08:50:23 2019 -0700

    mysql: increase tmp_table_size

commit 12dba32f1339c5e4e9ed47fd106832c0f433197d
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Wed May 29 17:49:08 2019 -0700

    mysql: update tmp_table_size per mysqltuner rec

commit 63526c8a647a21ffdf864e6f9994253c6c7de410
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Tue May 28 16:45:03 2019 -0700

    mysql: update tmp_table_size per mysqltuner rec

commit a4c3946a4692fe604548f4bf4c5ae959dc6e62a7
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Mon May 27 22:32:11 2019 -0700

    mysql: add tmp_table_size and max_heap_table_size options

commit 2d4ca2cb17b79b890debf537e2d0ab3bdedd92a8
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sun May 26 22:28:22 2019 -0700

    Revert cipher change; use Mozilla "Modern compatibility"

commit 48cf30d7d522d16384aa0d451770d6e237f6d466
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sun May 26 22:12:05 2019 -0700

    nginx: add TLS 1.3 support
    
    The enabled TLS 1.3 version is not the latest version, so this doesn't actually enable it in modern browsers.
    
    When we update to Ubuntu 20.04 in one year, we'll get a version of nginx that supports the latest spec. That's fine.

commit b1b980c6ce5a937a9dabe78c7580afc5c954bd00
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sun May 26 22:10:33 2019 -0700

    nginx: Remove weak ciphers
    
    Drops support for these browsers according to SSL Labs:
    
    IE 11 / Win 7
    IE 11 / Win 8.1
    IE 11 / Win Phone 8.1
    IE 11 / Win Phone 8.1 Update
    Safari 6 / iOS 6.0.1
    Safari 7 / iOS 7.1
    Safari 7 / OS X 10.9
    Safari 8 / iOS 8.4
    Safari 8 / OS X 10.10
    
    Note: IE 11 on Win 10 still works.

commit 94a9720bf40dd85073d696fde4a1ee96068fc405
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sun May 26 20:55:59 2019 -0700

    use new ~/config path for server configs

commit 9723a0ba30edbcb1a500684a6abf21178ca9df0c
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sun May 26 20:49:41 2019 -0700

    Create mysql.cnf

commit 040df65333963d5e6d345f76d217afda8ad6a448
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Sun May 26 20:49:08 2019 -0700

    move nginx configs into a folder

commit 1da0361e8dd715db16fab412259f8a4840960138
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Aug 31 15:17:40 2018 -0700

    Enable nginx status page (for Longview)

commit 11ee70fd80ddc1b237dbdb110241f9c9532e525c
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Fri Aug 31 15:17:33 2018 -0700

    style

commit f49c462d1a7ec598a3507176fd5e6672323ac8e5
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Aug 30 01:48:44 2018 -0700

    add gitignore

commit d255804ec5f1f2698c794b5d7e1b28508cc6149b
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Aug 30 01:46:40 2018 -0700

    Add note about what to do with extra configs

commit 413646fba96d0e025eadc6fee7d91018cd0b3b15
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Aug 30 01:38:04 2018 -0700

    add example site configuration

commit 0bccf8f0b41a7a528ccfc61315cb8d0e6323382d
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Aug 30 01:37:49 2018 -0700

    try removing duplicate http blocks

commit 68bd98202f589ee4b5aa9dc4673c96f71476a1c1
Author: Feross Aboukhadijeh <feross@feross.org>
Date:   Thu Aug 30 01:29:56 2018 -0700

    initial commit
